$innerSize:60px;
$outerSize:80px;
$fgColor:#4b86db;
$bgColor:#89abdd;
@mixin linearGradient($dir, $start, $end) {
	background-image: -webkit-linear-gradient($dir, $start, $end);
	background-image: -moz-linear-gradient($dir, $start, $end);
	background-image: -ms-linear-gradient($dir, $start, $end);
	background-image: -o-linear-gradient($dir, $start, $end);
	background-image: linear-gradient($dir, $start, $end);
}
@mixin loading($outerSize: 65px, $innerSize:38px, $animTime: 2s,
	$fgColor: #4b86db, $bgColor:#89abdd, $startColor1: #cce9de, $endColor1: #fff,
	$startColor2: #cce9de, $endColor2: #84cbb1) {
	$outerRadius: $outerSize / 2;
	$innerRadius: $innerSize / 2;
	$gap: round(( $outerSize - $innerSize ) / 2);
	%halfInnerPiece {
		position: absolute;
		display: inline-block;
		content: " ";
		width: $innerRadius;
		height: $innerSize;
		top: $gap;
	}
	%halfOutterPiece {
		position: absolute;
		display: inline-block;
		content: " ";
		width: $outerRadius;
		height: $outerSize;
	}
	
	position: relative;
	display: inline-block;
	width: $outerSize;
	height: $outerSize;
	border-radius: 50%;
	overflow: hidden;

	.outer {
		position: relative; 
		width: $outerSize; height: $outerSize; 
		border-radius: 50%;
		animation: spin $animTime/2 infinite linear;
		&::before {
			@extend %halfOutterPiece;
		    background: #fff;
			left: 0; 
			border-radius: $outerRadius 0 0 $outerRadius;
			@include linearGradient(bottom, $startColor1 0%, $endColor1 100%);
		}
		&::after {
			@extend %halfOutterPiece;
		    background: #fff;
			right: 0; 
			border-radius: 0 $outerRadius $outerRadius 0;
			@include linearGradient(bottom, $startColor2 0%, $endColor2 100%);
		}
		i {
			position: absolute; z-index: 2;
			top: 0; bottom: 0; left: 0; right: 0;
			width: $outerSize - 10px; height: $outerSize - 10px;
			margin: auto;
			border-radius: 50%;
			background-color: #fff;
		}
	}
	.spin {
		@extend %halfInnerPiece;
		left: $gap;
		i {
			position: absolute; z-index: 2;
			display: block;
			width: 100%; height: 100%;
			border-radius: $innerRadius 0 0 $innerRadius;
			transform-origin: right center;
			animation: spinI $animTime steps(1, end) infinite,spin $animTime/2 infinite linear;
		}
		&::before {
			@extend %halfInnerPiece;
			left: 0; top:0; z-index: 3;
			border-radius: $innerRadius 0 0 $innerRadius;
			animation: left $animTime steps(1, end)  infinite;
		}
		&::after {
			@extend %halfInnerPiece;
			left: 100%; top:0; z-index: 3;
			border-radius: 0 $innerRadius $innerRadius 0;
			animation: right $animTime steps(1, end) infinite;
		}
	}
}
.loading {
	@include loading($outerSize, $innerSize);
}
@keyframes spin {
	0%{transform:rotate(360deg);}
	100%{transform:rotate(0deg);}
}
@keyframes spinI {
	0%{background:$fgColor;}
	25%{background:$fgColor;}
	50%{background:$bgColor;}
	75%{background:$bgColor;}
}
@keyframes left {
	0%{background:$bgColor;z-index:1;}
	25%{background:$bgColor;z-index:3;}
	50%{background:$fgColor;z-index:1;}
	75%{background:$fgColor;z-index:3;}
}
@keyframes right {
	0%{background:$fgColor;z-index:3;}
	25%{background:$bgColor;z-index:1;}
	50%{background:$bgColor;z-index:3;}
	75%{background:$fgColor;z-index:1;}
}
